<h2>{{welcome}}</h2>
{{name}}<br>
{{lastName}}<br>
{{age}}<br>
{{email}}<br>
<br>
{{rol}}<br>

<form  action="" id="formLogout">
<button type="submit" id="logoutButton">Logout</a></button>
</form>
<br>
{{#if ifAdmin}}
<a href="http://localhost:8080/users">Ver usuarios</a>
{{else}}

{{/if}}
<script src="/js/profile.js"></script>